{% extends 'base.html' %}

{% block content %}

    <h1>Ajouter une famille</h1>

    <form method="post" action="done/">
        {% csrf_token %}
        <label>id famille : </label>
        <input type="text" name="newIdF" required>
        <label>libelle : </label>
        <input type="text" name="newLibelle" required>

        <input type="submit" name="submitNewFamille">
    </form>

{% endblock %}