{% extends 'base.html' %}

{% block content %}

<h1>Ajout d'un medicament</h1>

<form action="done/" method="post">
    {% csrf_token %}
    <label>Id medicament : </label>
    <input type="text" required name="idM" required>
    <br/>
    <label>Nom commercial</label>
    <input type="text" required name="nomCommercial" required>
    <br/>
    <label>Id famille</label>
    <input type="text" required value="{{ idFamille }}" name="idFamille" required disabled="disabled">
    <br/>
    <label>Composition</label>
    <input type="text" required name="composition" required>
    <br/>
    <label>Effets</label>
    <input type="text" required name="effets" required>
    <br/>
    <label>contreIndications</label>
    <input type="text" required name="contreIndications" required>
    <br/>
    <input type="submit" value="Ajouter" name="submitAjouter">
</form>

{% endblock %}