{% load static %}


<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
    </head>
    <body>
        <h1>Application CRUD django</h1>
        {% block content%} {% endblock %}
    </body>
</html>