{% extends 'base.html' %}

{% block content %}

<h1>Details du médicament : {{ detailMed.nomCommercial }}</h1>

<p>id : {{ detailMed.idM }}<br/>
    nom commercial : {{ detailMed.nomCommercial }}<br/>
    id famille :{{ detailMed.idFamille }}<br/>
    composition : {{ detailMed.composition }}<br/>
    effets : {{ detailMed.effets }}<br/>
    contre indications : {{ detailMed.contreIndications }}<br/>
</p>

<a href="/familles/medicaments/{{ detailMed.idM }}/modifier/">Modifier</a>


{% endblock %}