{%extends 'base.html'%}

{% block content%}

<h1>Les familles : </h1>

<a href="ajouter/famille">Ajouter une famille</a>

{% for famille in familles %}
<p>{{ famille.idF }}, {{ famille.libelle }}</p>
<a href="medicaments/{{ famille.id }}/">Voir les médicaments de cette famille</a>
<a href="ajouter/medicament/{{ famille.id }}/">Ajouter un medicament</a>
<a href="supprimer/famille/{{ famille.id }}/">Supprimer la famille</a>
{% endfor %}


<!--<form method='post' action='medicaments/'>
    {% csrf_token %}
    {{ form }}
    <select size='4' name="familleChoisi">
        {% for famille in familles%}
        <option value="{{ famille.idF}}">{{ famille.idF }}</option>
        {% endfor %}
    </select>
    <br/>
    <input type='submit' value='Voir les médicaments' name='btnMedicaments'>
</form>-->

{%endblock%}