{% extends 'base.html' %}

{% block content %}

<h1>Médicaments</h1>


{% for medicament in medicaments %}
<p>{{ medicament.nomCommercial }}</p>
<a href="détails/{{ medicament.idM }}">Voir les détails</a>
<a href="supprimer/{{ medicament.idM }}">Supprimer</a>
{% endfor %}



{% endblock %}