{% extends 'base.html' %}

{% block content %}

<h1>Modification du medicament {{ medicament.nomCommercial }}</h1>

<form action="done/" method="post">
    {% csrf_token %}
    <label>Id medicament : </label>
    <input type="text" required name="idM" required value="{{ medicament.idM }}">
    <br/>
    <label>Nom commercial</label>
    <input type="text" required name="nomCommercial" required value="{{ medicament.nomCommercial }}">
    <br/>
    <label>Id famille</label>
    <input type="text" required value="{{ medicament.idFamille }}" name="idFamille" required disabled="disabled">
    <br/>
    <label>Composition</label>
    <input type="text" required name="composition" required value="{{ medicament.composition }}">
    <br/>
    <label>Effets</label>
    <input type="text" required name="effets" required value="{{ medicament.effets }}">
    <br/>
    <label>contreIndications</label>
    <input type="text" required name="contreIndications" required value="{{ medicament.contreIndications }}">
    <br/>
    <input type="submit" value="Modifier" name="submitModifier">
</form>

{% endblock %}